.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75% !important;
  margin: auto;
}


.product img {
  display: inline-block;
  width: 100%;
  height: 9rem;
  max-width: 12rem;
  margin-bottom: 3rem;
}

.product button {
  display: inline-block;
  width: 100%;
  max-width: 80%
}

.heading-row {
  background-color: #fff;
}

.product-info {
  margin-top: 6rem
}