.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17%;
  width: 104%;
}

.cart-item-image-wrapper {
  height: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 2rem;
}

.cart-item-image {
  height: 100%;
}

.cart-item-price {
  margin-left: 5rem;
}

.cart-item-delete {
  width: 1rem;
  font-size: 1.5rem;
}